* {
    border: 0;
    margin: 0;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}
h1 {
    font-size: 24px;
    align-items: right;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
